body{
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}
.container{
  text-align: center;
}
.card{
  margin: 10% auto;
  border-radius:5%;
}
h5{
  color: hsl(229, 23%, 23%);
}
hr{
  color: hsl(0, 0%, 59%);
  border-style: solid;
  width: auto;
}
p{
  color: hsl(0, 0%, 59%);
}
.pcol{
  color: hsl(0, 0%, 59%);
  font-size: .75rem;
}
.cols{
  padding: 0;
  margin: 0;
  text-align: center;
}
.row{
  padding: 0 2rem;
}
.card-title{
  margin-top: 25%;
  text-align: center;
}
.bgvic{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.vicpic{
  border-radius: 100%;
  width: 33%;
  position: absolute;
  right: 34%;
  top: 20%;
}
.card-text{
  margin: 0;
  text-align: center;
}
span{
  margin-left: .3rem;
  color: hsl(227, 10%, 46%);
}
.bg-top{
  width: 50%;
  position: absolute;
  bottom:  50%;
  right: 50%;
}
.bg-bot{
  width: 50%;
  position: absolute;
  top:  50%;
  left: 50%;
}

/* half circle */

.half-circle {
  position: absolute;
    width: 125px;
    height: 75px;
    background-color: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    margin-left: 95px;
    margin-top: 65px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
